.search-box {
  width: 100%; }
  .search-box input {
    border: 2px solid orange;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
    caret-color: white; }
