.youtubeApp{
	display: flex;
    flex-direction: column;
    flex-flow: wrap;
	background-color: black;
}
.videoPlayer{
	background-color: black;
	max-width: 70%;
	&__frame{
		margin-right: 2em;
		 iframe{
			    width: 100%;
	    text-align: center;
	    height: 70vh;
	    /*margin-right:1em;*/
	    /* margin: 0 auto; */
	    /*border: 2px solid orange;*/
	    border-top:none;
	    /*padding: 2em;*/
		}
	}
	&__details{
		font-size:1.5rem;
		color: white;
	}
	&__title{
		font-size: 2rem;
		border-bottom:1px solid orange;
		margin-bottom: 1em;
		padding-bottom: .5em;
		padding-top: .5em;
		color:orange;
		max-width:96%;
	}
}